@namespace epub "http://www.idpf.org/2007/ops";

h1, h2 {
    margin-bottom: 1em;
    text-align: center;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}

p+p {
    text-indent: 1em;
}

hr {
    margin-left: 5%;
    width: 90%;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.-epub-media-overlay-active {
    background-color: #FFFF00;
}




body{
	font: 16px Roboto, Arial, Helvetica, sans-serif;
	margin:0;
	line-height: 22px;	color: #001320;
    BACKGROUND-COLOR: #FFFFFF; text-align:justify;  
background:  url(leftbk3.png), url(rtbk3.png), #ffffff;
background-repeat: no-repeat, no-repeat;
background-position: left 44%, right 44%;
background-attachment: fixed, fixed;}

a:link, a:visited, a:active { 
	text-decoration: none; 
	color: #008ae6;
	}

a:hover { 
	text-decoration: none; 
	color: #99D6FF;
	}

.versiontext { 
	font-weight: 700; 
	color: #008ae6;
	text-align:left;
		}
.verstext { 
	font-weight: 700; 
	color: #008ae6;
		}
	
.titletext { 
	font-weight: 700; 
	}
	
.crossverse { 
	font-weight: 700;
	}

.maintable { width:100%;  BACKGROUND-COLOR: #ffffff; box-shadow: 1px 0px 0px #e8e8e8, -1px 0px 0px #e8e8e8; padding-bottom:0px;}
#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
	box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
 }
.maintable3 { width:100%;  BACKGROUND-COLOR: #ffffff; box-shadow: 1px 0px 0px #e8e8e8, -1px 0px 0px #e8e8e8; }
.maintable2 { margin-left:35px; margin-right:35px;  }
 /*        #rightbox
        {
	position:absolute; 	top:327px; left:12%;	padding-left:22px; padding-right:22px; padding-top:27px; padding-bottom:85px; background-color:#ffffff;
width: 122px; margin-left: 1px; margin-right: 1px;border-top-right-radius:15px;

        }*/



        #leftbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 50%;
	text-align:justify;

        }

        #centbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 50%;
	text-align:justify;

        }

#adc
        {
	
width: 728px;
	text-align:center;

        }




#topverse { padding-top:6px; padding-bottom:2px;  padding-left:12%; padding-right:12%; text-align:center; color:#b34700; font-style:italic;

}
#jump { padding-top:6px; padding-bottom:2px;  padding-left:12%; padding-right:12%; text-align:center; color:#b34700; 

}


#fx
{
	position:fixed; top: 0px; left: 0px; width: 100%; z-index:2; 
}

#fx2
{
	position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
		 
 }
 #fx3
{
	background-color:#eeeeee; 
 }

#fx4
{
	border-style:solid; border-bottom-color:#003355; border-bottom-width:0px; border-left:none; border-right:none; border-top:none; background-color:#eeeeee;
}
#fx5
{
	
		 box-shadow: 0px 0px 0px #e8e8e8;  
}


#blnk
 {height:42px;}
 
 

  #topheading
        { 

	text-align:center;
	font: 1.7em Verdana, Roboto, Arial, Helvetica, sans-serif;
	font-weight:700;
	color:#001320;
padding-top:13px;
         
        }
		

		

#breadcrumbs
{     width:30%;
	font: 0.7em Roboto, Arial, Helvetica, sans-serif;
text-align:left; height: 27px; vertical-align:middle; line-height:26px;
 color:#aa4400; float:left;
	     background-color:#ffffff; 
		border-width:0px;
	box-shadow: 0px 0px 0px #e8e8e8;  
padding-left:3%;  padding-top:0px; padding-bottom:9px;
		}

#breadcrumbs a:link{ color:#008ae6; } 
#breadcrumbs a:hover { color:#008ae6; } 
#breadcrumbs a:active{ color:#aaddff; } 
#breadcrumbs a:visited{ color:#008ae6; } 

	
#anc	{     width:34%; float:left; 
		border-width:0px;
    	box-shadow: 0px 0px 0px #e8e8e8;padding-top:0px; padding-bottom:9px; background-color:#ffffff; 

			}
#anc2	{     width:30%;float:left; 
	   
		border-width:0px; background-color:#ffffff;
    	box-shadow: 0px 0px 0px #e8e8e8;  padding-right:3%; padding-top:0px; padding-bottom:9px;

			}
#l1	{     width:100%; margin-left:0px; margin-right:0px; background-color:#ffffff; 

}	


		

        #pic2
        {

width: 100%;
	margin-left:8px; margin-bottom:22px;
        }



        #pic
        {

width: 100%;
        }


        .vheading
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.0em Verdana, Roboto, Arial, Helvetica, sans-serif;
         font-weight:700; color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }
        .vheadingv
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.0em Verdana, Roboto, Arial, Helvetica, sans-serif;
         color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }


        .vheading2
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-top:22px; 
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.0em Verdana, Roboto, Arial, Helvetica, sans-serif;
         font-weight:700; color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }

        .clickchap
        { 
		
		 text-align:left; background-color:#eeeeee;
		 padding-left:3px;
		 font: 0.85em Verdana, Roboto, Arial, Helvetica, sans-serif;
		 font-style:italic;
         color:#001320;		 

     }

        .padright2
        {
		padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; 
        }
        .padright
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }

        .padcent
        {
		padding-left:14px; padding-right:12px; padding-top:17px; padding-bottom:14px; 
        }


        .padleft
        {
		padding-left:12px; padding-right:14px; padding-top:17px; padding-bottom:14px; 
        }


.wrdstudy
{ margin-top:11px;
margin-bottom:11px;
}

.wrd
{ color:#aa4400;
font-weight:700;
}
.gr
{ 
font-weight:700; color:#0066aa;
}



.p
{
line-height:13px;
}



.h
{
height:23px; 
   /* background-image: url(/hr.gif); 
    background-repeat:repeat-x;  */

}



#left
{
position:fixed;top: 44%; left: 0px;  z-index:1;

}

#right
{
position:fixed;top: 44%; right: 0px;  z-index:1;

}

#botleft
{
position:fixed; left: 0px; bottom:0px;  z-index:1;

}

#botright
{
position:fixed; right: 0px; bottom:0px;  z-index:1;

}




/*-------------------------------------------------*/	




.vtext
{
		 color:#008ae6; 

}
.str
{
		 color:#008ae6; 

}
.hdg
{
    font-weight:700;
    color:#001320;
    FONT-FAMILY: Roboto, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none; font-style:italic;
}
.cred
{
   font-style:italic; text-align:right; padding-top:0px; margin-top:0px;
}

.highl 
  { background-color:#FFF4ec; 
    
	}
	
.highl a:link {text-decoration: none; 
	color: #008cea;}
.highl a:visited {text-decoration: none; 
	color: #008cea;}
.highl a:active {text-decoration: none; 
	color: #008cea;}
.highl a:hover {text-decoration: none; 
	color: #99d6ff;}




.hdg1
{
    font-weight:700;
	margin-top:0px;
    color:#001320;
    FONT-FAMILY: Roboto, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.hdg2
{
    font-weight:700;
    color:#001320;
    FONT-FAMILY: Roboto, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.tskverse
{
    margin-left:15px; margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px;
}
.tskverse1
{
    margin-left:15px;
}

.reftext
{
    FONT-SIZE: 11px;
    COLOR: #aa4400;
		font-weight:700;
    LINE-HEIGHT: 14px;
    margin-left:1px;
    margin-right:2px;
    vertical-align: text-top;
    FONT-FAMILY: Roboto, Arial, Helvetica, Sans-serif;
}

.cmt_word

{


    COLOR: #b34700; 

}
.tsk2

{


    font-style: italic;

}
.accented {font-weight:700;}

  .vheading
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.1em Verdana, Arial, Helvetica, sans-serif;
         font-weight:700; color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }


        .vheading2
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-top:22px; 
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.1em Verdana, Arial, Helvetica, sans-serif;
         font-weight:700; color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }


        .padright2
        {
		padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; 
        }
        .padright
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }

        .padcent
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }


        .padleft
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }





.p
{
line-height:13px;
}



.h
{
height:23px; 
    background-image: url(/hr.gif); 
    background-repeat:repeat-x;

}



#left
{
position:fixed;top: 44%; left: 0px;  z-index:1;

}

#right
{
position:fixed;top: 44%; right: 0px;  z-index:1;

}

#botleft
{
position:fixed; left: 0px; bottom:0px;  z-index:1;

}

#botright
{
position:fixed; right: 0px; bottom:0px;  z-index:1;

}




/*-------------------------------------------------*/	




.vtext
{
		 color:#008ae6; 

}
.str
{
		 color:#008ae6; 

}
.hdg
{
    font-weight:700;
    color:#001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none; font-style:italic;
}
.highl
{ background-color:#FFF4ec;
}
.hdg1
{
    font-weight:700;
	margin-top:0px;
    color:#001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.hdg2
{
    font-weight:700;
    color:#001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.tskverse
{
    margin-left:15px; margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px;
}
.tskverse1
{
    margin-left:15px;
}

.reftext
{
    FONT-SIZE: 11px;
    COLOR: #008ae6;
    LINE-HEIGHT: 14px;
    margin-left:1px;
    margin-right:2px;
    vertical-align: text-top;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
}

body{
	font: 16px Roboto, Arial, Helvetica, sans-serif;
	margin:0;
	line-height: 22px;	color: #001320;
    BACKGROUND-COLOR: #FFFFFF; text-align:justify;  
background:  url(leftbk3.png), url(rtbk3.png), #ffffff;
background-repeat: no-repeat, no-repeat;
background-position: left 44%, right 44%;
background-attachment: fixed, fixed;}

a:link, a:visited, a:active { 
	text-decoration: none; 
	color: #008ae6;
	}

a:hover { 
	text-decoration: none; 
	color: #99D6FF;
	}

.versiontext { 
	font-weight: 700; 
	color: #008ae6;
	text-align:left;
		}
.verstext { 
	font-weight: 700; 
	color: #008ae6;
		}
	
.titletext { 
	font-weight: 700; 
	}
	
.crossverse { 
	font-weight: 700;
	}

.maintable { width:100%;  BACKGROUND-COLOR: #ffffff; box-shadow: 1px 0px 0px #e8e8e8, -1px 0px 0px #e8e8e8; padding-bottom:0px;}
#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
	box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
 }
.maintable3 { width:100%;  BACKGROUND-COLOR: #ffffff; box-shadow: 1px 0px 0px #e8e8e8, -1px 0px 0px #e8e8e8; }
.maintable2 { margin-left:40px; margin-right:40px;  }
 /*        #rightbox
        {
	position:absolute; 	top:327px; left:12%;	padding-left:22px; padding-right:22px; padding-top:27px; padding-bottom:85px; background-color:#ffffff;
width: 122px; margin-left: 1px; margin-right: 1px;border-top-right-radius:15px;

        }*/



		
        #leftbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 100%;  min-height:950px;
	text-align:justify;

        }

        #centbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 41%;
	text-align:justify;

        }





#topverse { padding-top:6px; padding-bottom:2px;  padding-left:12%; padding-right:12%; text-align:center; color:#b34700; font-style:italic;

}
#jump { padding-top:6px; padding-bottom:2px;  padding-left:12%; padding-right:12%; text-align:center; color:#b34700; 

}


#fx
{
	position:fixed; top: 0px; left: 0px; width: 100%; z-index:2; 
}

#fx2
{
	position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
		 
 }
#fx4
{
	border-style:solid; border-bottom-color:#003355; border-bottom-width:0px; border-left:none; border-right:none; border-top:none;
}
#fx5
{
	
		 box-shadow: 0px 3px 6px #e8e8e8;  
}


#blnk
 {height:42px;}
 
 

  #topheading
        { 

	text-align:center;
	font: 1.6em Verdana, Arial, Helvetica, sans-serif;
	font-weight:700;
	color:#001320;
padding-top:13px;
         
        }
		
 .hdg
        { 

	text-align:center;
	font: 1.0em Verdana, Arial, Helvetica, sans-serif;
	font-weight:700;
	line-height:24px;
	color:#001320;
padding-top:18px;
  padding-bottom:11px;       
        }		
 .acrostic
        { 

	text-align:center;
	font: 1.3em Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
	font-weight:700;
	line-height:24px;
	color:#001320;
padding-top:18px;
  padding-bottom:11px;       
        }		

		

#breadcrumbs
{     width:30%;
	font: 0.7em Arial, Helvetica, sans-serif;
text-align:left; height: 27px; vertical-align:middle; line-height:26px;
 color:#aa4400; float:left;
	     background-color:#ffffff; 
		border-width:0px;
	box-shadow: 0px 0px 0px #e8e8e8;  
padding-left:3%;  padding-top:3px; padding-bottom:3px;
		}

#breadcrumbs a:link{ color:#0092ff; } 
#breadcrumbs a:hover { color:#99D6FF; } 
#breadcrumbs a:active{ color:#0092ff; } 
#breadcrumbs a:visited{ color:#0092ff; } #anc	{     width:34%; float:left; 
		border-width:0px;
    	box-shadow: 0px 0px 0px #e8e8e8;padding-top:3px; padding-bottom:3px; background-color:#ffffff; 

			}
#anc2	{     width:30%;float:left; 
	   
		border-width:0px; background-color:#ffffff;
    	box-shadow: 0px 0px 0px #e8e8e8;  padding-right:3%; padding-top:3px; padding-bottom:3px;

			}
#l1	{     width:100%; margin-left:0px; margin-right:0px; background-color:#ffffff; 

}	


		

        #pic2
        {

width: 100%;
	margin-left:8px; margin-bottom:22px;
        }



        #pic
        {

width: 100%;
        }


#botbox {font-size:11px; padding-bottom:20px; line-height:13px;}

        .vheading
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.0em Verdana, Arial, Helvetica, sans-serif;
         font-weight:700; color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }


        .vheading2
        { 
		
		 text-align:left; background-color:#eeeeee;
		 margin-top:22px; 
		 margin-bottom:10px;
		 padding-left:8px;
		 font: 1.0em Verdana, Arial, Helvetica, sans-serif;
         font-weight:700; color:#001320;		 
       	border-top-right-radius:12px;
	    border-top-left-radius:12px;
     }


        .padright
        {
		padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; 
        }
		
        .padright2
        {
		padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; 
        }
        .padright3
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }

        .padcent
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }


        .padleft
        {
		padding-left:7%; padding-right:7%; padding-top:14px; padding-bottom:14px; 
        }





.p
{
line-height:13px;
}



.h
{
height:23px; 
    background-image: url(/hr.gif); 
    background-repeat:repeat-x;

}



#left
{
position:fixed;top: 44%; left: 0px;  z-index:1;

}

#right
{
position:fixed;top: 44%; right: 0px;  z-index:1;

}

#botleft
{
position:fixed; left: 0px; bottom:0px;  z-index:1;

}

#botright
{
position:fixed; right: 0px; bottom:0px;  z-index:1;

}




/*-------------------------------------------------*/	




.vtext
{
		 color:#008ae6; 

}
.str
{
		 color:#008ae6; 

}
.hdg
{
    font-weight:700;
    TEXT-DECORATION: none; font-style:italic; margin-bottom:0px; padding-bottom:0px;
}
.cross
{
    font-weight:400;
    TEXT-DECORATION: none; font-style:italic; margin-top:0px; padding-top:1px;
}

.highl
{ background-color:#FFF4ec;
}
.hdg1
{
    font-weight:700;
	margin-top:0px;
    color:#001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.hdg2
{
    font-weight:700;
    color:#001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;    
}
.tskverse
{
    margin-left:15px; margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px;
}
.tskverse1
{
    margin-left:15px;
}

.reftext
{
    FONT-SIZE: 11px;
    COLOR: #008ae6;
    LINE-HEIGHT: 14px;
    margin-left:1px;
    margin-right:2px;
    vertical-align: text-top;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
}

.cmt_word

{


    COLOR: #b34700; 

}
.tsk2

{


    font-style: italic;

}
.accented {font-weight:700;}
.eng


{

    FONT-SIZE: 15px;
    COLOR: #d55500;
    LINE-HEIGHT: 23px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;

}
.translit


{

    FONT-SIZE: 15px;
    COLOR: #0066aa;
    LINE-HEIGHT: 23px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;

}


.ital


{

    FONT-SIZE: 15px;
    COLOR: #d55500;
    LINE-HEIGHT: 23px;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;

}

.spc
{

    FONT-SIZE: 35px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;

}

.spc2
{

    FONT-SIZE: 35px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;

}

.spc3
{

    FONT-SIZE: 35px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;

}

.spc4
{

    FONT-SIZE: 35px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;

}

.spc5
{

    FONT-SIZE: 35px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;

}

.smcap
{
    FONT-SIZE: 13px;
    COLOR: #d55500;
    LINE-HEIGHT: 23px;
    text-transform: uppercase;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: justify
}



.num
{
    FONT-SIZE: 11px;
    color:#001320;
    LINE-HEIGHT: 14px;
    margin-top:0px;
    margin-left:2px;
    margin-right:2px;
    vertical-align: text-top;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
}




.strongs



{



    FONT-SIZE: 12px;



    COLOR: #008ae6;



    LINE-HEIGHT: 14px;


    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;





}

.strongsnt



{



    FONT-SIZE: 11px;



    COLOR: #008ae6;



    LINE-HEIGHT: 25px;


    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;





}
.strongsnt2



{



    FONT-SIZE: 12px;



    COLOR: #008ae6;



    LINE-HEIGHT: 28px;


    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;





}
.pos



{



    FONT-SIZE: 12px;



    COLOR: #008ae6;



    LINE-HEIGHT: 16px;


    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;





}
.translit2



{



    FONT-SIZE: 13px;



    COLOR: #001320;



    LINE-HEIGHT: 14px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;



    TEXT-Align: justify
}


.interlin



{



    FONT-SIZE: 11px;



    COLOR: #ff6600;



    LINE-HEIGHT: 23px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;



    TEXT-Align: justify



}


}


.vul



{



    FONT-SIZE: 15px;



    COLOR: #001320;



    LINE-HEIGHT: 19px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;



    TEXT-Align: justify



}



.rtext



{



    FONT-SIZE: 12px;



    COLOR: #001320;



    LINE-HEIGHT: 15px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;



    TEXT-Align: justify



}



.refmain

{

    FONT-SIZE: 15px;
    COLOR: #9b3e00;
    LINE-HEIGHT: 21px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify
}
.refheb

{

    FONT-SIZE: 15px;
    COLOR: #9b3e00;
    LINE-HEIGHT: 21px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify
}

.reftop

{

    FONT-SIZE: 15px;
    COLOR: #ffffff;
    LINE-HEIGHT: 14px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify

}
.reftop2

{

    FONT-SIZE: 15px;
    COLOR: #ffffff;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify

}
.reftop3

{

    FONT-SIZE: 15px;
    COLOR: #ffffff;
    LINE-HEIGHT: 28px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify

}
.refbot

{

    FONT-SIZE: 15px;
    COLOR: #ffffff;

    LINE-HEIGHT: 21px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify
}
.reftrans

{

    FONT-SIZE: 15px;
    COLOR: #ffffff;
    LINE-HEIGHT: 21px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-WEIGHT: 700;
    TEXT-DECORATION: none;
    TEXT-Align: justify
}

.strongstext



{



    FONT-SIZE: 15px;



    COLOR: #001320;



    LINE-HEIGHT: 21px;



    FONT-WEIGHT: 700;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;



    TEXT-Align: justify



}



.kjtext



{



    FONT-SIZE: 16px;



    COLOR: #001320;



    LINE-HEIGHT: 20px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none



    TEXT-Align: justify



}



.latintext



{



    FONT-SIZE: 16px;



    COLOR: #001320;



    LINE-HEIGHT: 20px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none



    TEXT-Align: justify



}



.aratext



{



    FONT-SIZE: 20px;



    COLOR: #001320;



    LINE-HEIGHT: 27px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none



    TEXT-Align: justify



}



.aramaic



{



    FONT-SIZE: 20px;



    COLOR: #001320;



    LINE-HEIGHT: 27px;



    FONT-FAMILY: Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none



    TEXT-Align: justify



}



.greek



{



    FONT-SIZE: 21px;



    COLOR: #001320;



    LINE-HEIGHT: 32px;



    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none



    TEXT-Align: justify



}



.punct



{



    FONT-SIZE: 22px;
    COLOR: #9b3e00;
    LINE-HEIGHT: 32px;
    FONT-FAMILY: Ariel Black, Arial, Helvetica, Sans-serif;
    Font-weight:700;
    TEXT-DECORATION: none
    TEXT-Align: justify



}

.punct2



{



    FONT-SIZE: 22px;
    COLOR: #9b3e00;
    LINE-HEIGHT: 32px;
    FONT-FAMILY: Ariel Black, Arial, Helvetica, Sans-serif;
    Font-weight:700;
    TEXT-DECORATION: none
    TEXT-Align: justify



}
.punct3



{



    FONT-SIZE: 24px;
    COLOR: #9b3e00;
    LINE-HEIGHT: 32px;
    FONT-FAMILY: Ariel Black, Arial, Helvetica, Sans-serif;
    Font-weight:700;
    TEXT-DECORATION: none
    TEXT-Align: justify



}


.hebrew



{
    FONT-SIZE: 23px;
    COLOR: #001320;
    LINE-HEIGHT: 33px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}

.hebtext



{
    FONT-SIZE: 23px;
    COLOR: #001320;
    LINE-HEIGHT: 33px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}



.heb



{
    FONT-SIZE: 23px;
    COLOR: #001320;
    LINE-HEIGHT: 33px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}



.paleoheb



{



    FONT-SIZE: 20px;



    COLOR: #001320;



    LINE-HEIGHT: 27px;



    FONT-FAMILY: Evyoni Hebrew Encoded Palaeo, SBL Hebrew, Ezra SIL, Cardo, Palatino Linotype, Arial, Helvetica, Sans-serif;



    TEXT-DECORATION: none;



}
.tablefloat {float: left; display: inline; margin: 4px;}
.tablefloatheb {float: right; margin: 4px; text-align:right;}
.bot2 {width:85%; max-width:736px;}

@media screen and (max-width: 4800px) {

.maintable { width:76%;  BACKGROUND-COLOR: #ffffff; box-shadow: 1px 0px 0px #e8e8e8, -1px 0px 0px #e8e8e8; padding-bottom:0px;}
#fx2
{
	position:fixed;top:0px; left: 12%; width: 76%; height: 42px; background-color:#eeeeee; z-index:2;
	box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
}
.maintable3 { width:76%;  BACKGROUND-COLOR: #ffffff; box-shadow: 1px 0px 0px #e8e8e8, -1px 0px 0px #e8e8e8; }
}



@media screen and (max-width: 1500px) {

.maintable { width:86%;  }
#fx2
{
	position:fixed;top:0px; left: 7%; width: 86%; height: 42px; background-color:#eeeeee; z-index:2;
	 box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
}
.maintable3 { width:86%;   }
.maintable2 { margin-left:35px; margin-right:35px;  }
}




@media screen and (max-width: 1250px) {

body{
background-image: none; background:  url(leftbksm.png), url(rightbksm.png), #ffffff;
background-repeat: no-repeat, no-repeat;
background-position: left 44%, right 44%;
background-attachment: fixed, fixed;}
.maintable { width:92%; }
#fx2
{
	position:fixed;top:0px; left: 4%; width: 92%; height: 42px; background-color:#eeeeee; z-index:2;
	 box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
}.maintable3 { width:92%;  }
.maintable2 { margin-left:35px; margin-right:35px; 
}




@media screen and (max-width: 1050px) {

body{
background-image: none; background:  url(leftbksm.png), url(rightbksm.png), #ffffff;
background-repeat: no-repeat, no-repeat;
background-position: left 44%, right 44%;
background-attachment: fixed, fixed;}
.maintable { width:94%; }
#fx2
{
	position:fixed;top:0px; left: 3%; width: 94%; height: 42px; background-color:#eeeeee; z-index:2;
	 box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
}.maintable3 { width:94%;  }
.maintable2 { margin-left:35px; margin-right:35px;  }
}



@media screen and (max-width: 900px) {

.maintable { width:100%; }
#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
	box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
 }.maintable3 { width:100%;}


        .padcent
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }


        .padleft
        {
		padding-left:12px; padding-right:12px; padding-top:14px; padding-bottom:14px; 
        }

.maintable2 { margin-left:35px; margin-right:35px;  }
}




@media screen and (max-width: 800px) {

body{
	font: 1.0em Arial, Helvetica, sans-serif;
	margin:0;
	line-height: 1.35em;
	color: #001320;
    BACKGROUND-COLOR: #ffffff;
	text-align:justify;

}


#ad1	{     display: none; 

}


#adc
        {
	
width: 250px;
	text-align:center;

        }

.maintable { width:100%; }
#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
	box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
 }.maintable3 { width:100%;  }
.maintable2 { margin-left:30px; margin-right:30px; }
         #rightbox
        {      
	position: relative;	padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
float:left; width: 100%;

        }




		
        #leftbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 100%;
	text-align:justify;

        }

        #centbox
        {
	float:left;			padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
width: 45%;
	text-align:justify;

        }
#bot { text-align:center; width:100%;}

  #topheading
        { 

	text-align:center;
	font: 1.4em Verdana, Roboto, Arial, Helvetica, sans-serif;
	font-weight:700;
	color:#001320;
padding-top:13px;
         
        }

}



@media screen and (screen.width < 650) {#fx2 {	background-color:#bfe6ff;  }}

@media screen and (max-width: 575px) {

		body{
	font: 1.1em Arial,sans-serif;
	margin:0;
	line-height: 1.35em;
	color: #001320;


}



#l1	{     width:94%; margin-left:0%; margin-right:0%; 

}

#breadcrumbs
{ width:100%;
 padding-top:0px; font: 0.4em Arial, Helvetica, sans-serif; line-height:12px;padding:0px; text-align:center; vertical-align:middle;
		}
		
		#anc	{   display:none; 

				}
#anc2	{     display:none;  
	    }




		
		.maintable
		
		{width:100%; padding:0px; margin:0px;
	box-shadow: none;}
	
	
		
		.maintable2 { margin-left:8px; margin-right:8px; position:relative; top: -0px; }

		#movebox2
{
	position:relative; top: -0px; width: 100%; z-index:1; BACKGROUND-COLOR: #ffffff; box-shadow: none; border:0px; padding:0px; margin:0px;
}
		
		
		.maintable3 { position:relative; top: -27px; }


	        #pic
        {

width: 150px;
        }#fx2
{
	padding-left:1%; padding-right:1%; position:fixed;top:0px; left: 0px; width: 100%; height: 42px; background-color:#eeeeee; background-image: url(bktop.gif); z-index:2;
	box-shadow:-1px 0px 0px #e8e8e8, 1px 0px 0px #e8e8e8, 0px 1px 0px #e8e8e8;
 }		#fx3
{
	position:relative; top: -0px; width: 100%; z-index:1; box-shadow: none; border:0px; padding:0px; margin:0px;
}

			
		#fx5
{
	position:relative; top: -0px; width: 100%; z-index:1; box-shadow: none; border:0px; padding:0px; margin:0px;
}	#topheading
	{font: 1.1em Verdana, Roboto, Arial, Helvetica, sans-serif; font-weight:700;  }	
.vheading
        { 
		
		 font: 1.0em Verdana, Roboto, Arial, Helvetica, sans-serif; font-weight:700;
     }
#leftbox
        { width:100%; padding-top:1px; text-align:left;	
float:left;
        }
        #vheading
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading3
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading4
        { width:100%; padding:0px; text-align:left;	
float:left;
        }

        #strongsbox
        { width:100%; padding:0px; text-align:left;	
float:left;
        }
        #vheading2
        { width:100%; padding:0px; text-align:left;	
float:left;
        }



        #centbox
        { width:100%; padding:0px;	margin:0px;
text-align:justify; float:left;

        }
		

        #rightbox2
        { width:65px; padding:0px; margin:0px;	text-align:left;	
float:left;
        }

        #rightbox4
        { width:135px; padding-left:100px; margin:0px;	text-align:left;	
float:left;
        }

		
	  #topleftbox
        { width:100%; padding:0px;	text-align:left;	
float:left;
        }



        #toprightbox
        { width:100%; padding:0px;	
position:absolute; bottom:0px;
        }


		#blnk
 {height:42px;}

.bot2 { max-width:275px; text-align:center}

.hebrew



{
    FONT-SIZE: 28px;
    COLOR: #001320;
    LINE-HEIGHT: 36px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}

.hebtext



{
    FONT-SIZE: 28px;
    COLOR: #001320;
    LINE-HEIGHT: 36px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}



.heb



{
    FONT-SIZE: 28px;
    COLOR: #001320;
    LINE-HEIGHT: 36px;
    font-family: Ezra SIL, SBL Hebrew, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, Cardo, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}
}